body{
    font-family: 'Mooli', sans-serif;
    background-image: url(../img/1639754443_52-catherineasquithgallery-com-p-fonovie-kartinki-rozovie-157.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}

.sm1_1{
    font-size: 24px;
    color: rgb(139, 0, 58);
}
.sm1_2{
    font-size: 18px;
    /* color: rgb(139, 0, 58); */
}
.block{
    background-color: rgb(231, 181, 207);
    padding: 20px 30px;
    width: 600px;
    border-radius: 20px;
    /* display: flex; */
    flex-direction: column;
}
.school{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block_2{
    display: flex;
    gap: 20px;
}
.school_name{
    width: 300px;
    font-size: 18px;
    /* color: rgb(139, 0, 58); */
}

.b1{
    /* display: block;
    margin: 0 auto; */
    margin-left: 400px;
}